<!DOCTYPE html>
        <html lang="en">
          <head>
            <title>Dyson message board</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
            <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
            <script src="/_/dyson.js"></script>
            <style>
              .wrapper {
                overflow: hidden;
                word-wrap: break-word;
              }
              .center-box {
                width: 300px;
                height: 75px;
                background-color: #f2f2f2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            </style>
          </head>
          <body id="app" class="wrapper">
            <div v-if="loading" class="center-box">
              <div class="box">
                <div class="columns is-centered">
                  <progress class="progress is-small is-primary" max="100">50%</progress>
                </div>
                <p class="has-text-centered">Loading...</p>
              </div>
            </div>
            <div v-else>
            <nav class="navbar is-fixed-top is-primary is-spaced has-shadow" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <div class="navbar-item is-size-3 mr-6">
                  Dyson message board
                </div>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="toggleMenu" :class="{ 'is-active': isMenuActive }">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
              <div id="navbarSwitch" class="navbar-menu" :class="{ 'is-active': isMenuActive }">
                <div class="navbar-start">
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless is-size-5">
                        About
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Onchain message board
                        </a>
                    </div>
                  </div>
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a href="https://profilepage.dysonvalidator.com/" class="navbar-link is-arrowless is-size-5">
                        Profile
                    </a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="https://profilepage.dysonvalidator.com/" class="has-text-black">
                        Create or edit your profile
                      </a>
                    </div>
                  </div>
                  <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link is-arrowless is-size-5">
                        Other apps
                    </div>
                    <div class="navbar-dropdown">
                      <ul>
                      <li><a class="navbar-item" href="https://namechecker.dysonvalidator.com/" class="has-text-black">
                         Dys name manager
                      </a></li>
                      <li><a class="navbar-item" href="https://secondarymarket.dysonvalidator.com/" class="has-text-black">
                          Dys names secondary market
                       </a></li>
                    </div>
                  </div>
                  <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link is-arrowless is-size-5">
                        Dyson protocol info
                    </div>
                    <div class="navbar-dropdown">
                      <ul>
                        <li><a href="https://dysonprotocol.com/" target="_blank" class="navbar-item">Homepage</a></li>
                        <li><a href="https://docs.dysonprotocol.com/" target="_blank" class="navbar-item">Docs</a></li>
                        <li><a href="https://twitter.com/DysonProtocol" target="_blank" class="navbar-item">Twitter</a></li>
                        <li><a href="https://discord.gg/BNHRHGdeNj" target="_blank" class="navbar-item">Discord</a></li>
                        <li><a href="https://medium.com/@dysonprotocol" target="_blank" class="navbar-item">Medium</a></li>
                        <li><a href="https://gitlab.com/dysonproject/dyson" target="_blank" class="navbar-item">Gitlab</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
              </div>
            </div>
         </div>
      </nav>
      <section class="section">
        <div class="container">
          <div class="column">
            <div class="column is-full">
              <h1></h1>
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-fifth">
              <div class="content">
                <div class="block">
                  <button v-if="!isConnected" @click.prevent="connectToKeplr" class=" mt-4 button is-primary is-light">
                    <strong>Connect Keplr</strong>
                  </button>
                  <div v-else>
                    <div v-if="userData">
                      <p class="card-header-title">Keplr connected</p>
                      <figure class="image is-128x128">
                        <img class="is-rounded" :src="userData.profile_photo" alt="profile photo">
                      </figure>
                      <p class="is-size-4">{{ userData.username }}</p>
                    </div>
                    <div v-else>
                      <p>Account name: {{ accountData.name }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-four-fifths">
              <div class="content">
              <h1 class="title">Submit a new post</h1>
              <form>
                <textarea v-model="newPost" class="textarea is-primary" id="newPost" maxlength="400" placeholder="Submit a post"></textarea>
                <p>Characters left: {{ remainingChars }} characters left</p>
                <div class="buttons">
                    <button @click.prevent="submit" class="button is-primary is-outlined">
                      <span>Post</span>
                      <span class="icon is-small">
                        <i class="fa fa-comment fa-lg"></i>
                      </span>
                    </button>
                </div>
              </form>
            <h1 class="is-size-4 has-text-left">Current posts</h1>
            <p>Number of posts: {{ Object.keys(sortedStorage).length }}</p>
            <p>
              <label class="checkbox">
                <input type="checkbox"  v-model="showOnlyMyPosts" :disabled="!isUserLoggedIn">
                Show only my posts
              </label>
             </p>
            <div class="dropdown is-active">
              <div class="dropdown-trigger">
                  <span><p class="is-size-6">Sort by:</p></span>
                  <div class="select">
                    <select id="sort-select" v-model="sortOption">
                      <option class="dropdown-item" value="newest">Newest</option>
                      <option class="dropdown-item" value="oldest">Oldest</option>
                    </select>
                  </div>
                </div>
            </div>
            <div v-if="result" v-for="item in sortedStorage" :key="item.index" class="card mb-4">
              <div class="card-content">
                <div class="content">
                <p>Date posted: {{ item.data.date }}</p>
                <p>Post id: {{ item.data.id }}</p>
                <p>Author: {{ getUsernameFromAddress(item.data.author) }}</p>
                 <p>Message: {{ item.data.body }}</p>
                <h2 class="is-size-5">Replies</h2>
                <p v-if="item.data && item.data.replies">Number of replies: {{ Object.values(item.data.replies).length }}</p>
                <div v-if="item.data && item.data.replies" v-for="reply in item.data.replies" class="card mb-2">
                  <div class="card-content">
                    <div class="content">
                      <p>Date: {{ reply.date }}</p>
                      <p>Author: {{ getUsernameFromAddress(reply.author) }}</p>
                      <p>Message: {{ reply.body }}</p>
                    </div>
                  </div>
                </div>
                  <div>
                    <form>
                      <textarea v-model="item.newReply" class="textarea" maxlength="400" placeholder="submit a reply"></textarea>
                      <p>Maximum 400 characters</p>
                      <div class="buttons">
                        <button class="button is-primary is-outlined" @click.prevent="submitReply(item.data.id, item)">
                          <span>Reply</span>
                          <span class="icon is-small">
                            <i class="fa fa-reply fa-lg"></i>
                          </span>
                        </button>
                        </div>
                        <div class="buttons is-right">
                        <button class="button is-danger is-oulined" @click.prevent="deletePost(item.data.id)">
                          <span>Delete</span>
                          <span class="icon is-small">
                            <i class="fa fa-times fa-lg"></i>
                          </span>
                        </button>
                      </div>
                    </form>
                    <p id="output" v-text="output"></p>
                  </div>
                </div>  
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
     <footer class="footer has-text-centered">Dyson message board</footer>
    </div>
   </body>
  </html>
